.providers-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.provider-row {
  margin: 0 10px 50px;
  width: 30%;

  h3 {
    margin: 0 0 20px;
  }

  p {
    margin: 0;
  }

  .star-rating {
    height: 22px;
    display: inline-block;
    vertical-align: top;
  }

  @media (max-width: 900px) {
    width: calc(50% - 20px);
  }

  @media (max-width: 640px) {
    width: 100%;
  }
}
