footer {
  background: $color-gray-cool-light;
  min-height: 100px;
  padding: 1.5em 0;

  strong {
    font-size: 19px;
    font-family: "Source Sans Pro";
  }

  .logo {
    margin-right: 20px;
  }

  .title {
    display: inline-block;
    line-height: 1.4em;
    margin: 0;
    padding: 10px;
  }

  .options {
    margin-top: 0.6em;
    float: left;

    @media(min-width: #{850px}) {
      float: right;
    }
  }
}
